* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


nav {
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 4px;
}

nav img{
  border-radius: 100%;
}
a{
  padding: 8px;
  display: inline-block;
}

nav * {
  /* outline: 1px solid; */
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  /* margin: 8px;
  padding: 8px; */
}


.dropbtn {
  text-align: center;
  padding: 8px;
  background-color: #0003;
  border-radius: 8px;
  border: none;
}

.dropdown:hover .dropbtn {
  background-color: #25a260;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #0003;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
