* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 200vh;
}

.container{
  border: 5px solid blue;
  padding: 8px;
  margin: 8px;
  text-align: center;
}
.box {
  width: 200px;
  height: 200px;
  border: 1px solid #333;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

/* 
With position property other than static we can access some other properties as well such as-

top: 10px;
bottom: 10px;
left: 10px;
right: 10px;
z-index: -1;
*/
#box-1 {
  position: static;
  background-color: #f4a5608f;
  /* z-index: 1; */
}

#box-2 {
  position: relative;
  top: 100px;
  left: 100px;
  background-color: #8ff4608f;
  z-index: 1;
}
#box-3 {
  position: absolute;
  top: 100px;
  left: 200px;
  background-color: #60e3f48f;
  z-index: 2;
}
#box-4 {
  position: fixed;
  top: 100px;
  left: 300px;
  background-color: #be60f48f;
  z-index: 3;
}
#box-5 {
  position: sticky;
  top: 100px;
  left: 400px;
  background-color: #f460798f;
  z-index: 4;
}
